{{'option_selection.js' | shopify_asset_url | script_tag }}
<section class="best-sellers" data-section="shop_our_best_seller">
  <div class="container">
    {% if section.settings.text != blank %}
    <h2 class="h3 text-center">{{ section.settings.text }}</h2>
    {% endif %}
    <div class="row grid-4 text-center row_center">
      {% assign coll = collections[section.settings.coll] %}
      {% for product in coll.products %}
      
        <div class="product-item">
          <form action="/cart/add" method="post">
            <div class="product-item-cover">
              {% if product !=blank %}
              <div class="product-image coll_pro_img_{{ product.id }}">
                <a href="{{ product.url }}"><img loading="lazy"  src="{{ product | img_url: "master" }}" alt="NOUGAT LIMAR 150g"></a>
              </div>
              {% endif %}
              <div class="product-meta">
                <h5><a href="#">{{ product.title }}</a></h5>
                <p>{{ product.price | money}} </p>
                <select id="product_select_{{product.id}}" name="id" >
                  {% for variant in product.variants %}
                  <option value="{{ variant.id }}">{{ variant.title }}</option>
                  {% endfor %}
                </select>
                <div class="swatch_coll_option">
                  {% if product.available and product.variants.size > 1 %}
                  {% include 'swatch' with 'Color', ff: true, index: product.id %}
                  {% endif %}
                </div>
                <div class="add-to-cart">
                  <input type="submit" value="Add to Cart" class="new_btn_cart">
                </div>
                <script>
                  jQuery(function($) {
                    new Shopify.OptionSelectors("product_select_{{product.id}}", { product:{{ product | json }} , onVariantSelected: selectCallback, enableHistoryState: true });
                  });
                </script>
              </div>
            </div>
          </form>
        </div>
      
      {% endfor %}
    </div>
  </div>
</section>

<!-- start - copy in clipboard example -->
<div class="copy_clipboard" style="text-align: center;">
  <h2>copy in clipboard example</h2>
  <input type="text" class="input_val">
  <button onclick="copyToClipboard()">Copy Link</button>
</div>
<script>
  function copyToClipboard(text) {
    var inputc = document.body.appendChild(document.createElement("input"));
    //     inputc.value = window.location.href;
    inputc.value = $('.input_val').val();
    inputc.focus();
    inputc.select();
    document.execCommand('copy');
    inputc.parentNode.removeChild(inputc);
    alert("URL Copied.");
  }
</script>
<!-- end - copy in clipboard example -->


<style>
  .new_btn_cart{
    width: auto;
    text-align: center;
    border: none;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    font-size: 20px;
    line-height: 1.3;
    padding: 10px 20px;
    text-transform: uppercase;
    min-width: 208px;
    background: #7CA7AD;
    color: #ffffff;
  }
</style>
<script>
   var selectCallback = function(variant, selector) {
     var val = selector.product.id;
     var price='#p'+val+' .price';
     var btn =  '#p'+val+' .add_cart_btn';
    if (variant) {
      if (variant.available) {
        // Selected a valid variant that is available.
        $(btn).removeClass('disabled').removeAttr('disabled').text('Add to Cart').fadeTo(200,1);
      } else {
        // Variant is sold out.
        $(btn).text('Sold Out').addClass('disabled').attr('disabled', 'disabled').fadeTo(200,0.5);
      }
      // Whether the variant is in stock or not, we can update the price and compare at price.
      if ( variant.compare_at_price > variant.price ) {
        $(price).html('<span class="product-price on-sale">'+ Shopify.formatMoney(variant.price, "") +'</span>'+'&nbsp;<s class="product-compare-price">'+Shopify.formatMoney(variant.compare_at_price, "")+ '</s>');
      } else {
        $(price).html('<span class="product-price">'+ Shopify.formatMoney(variant.price, "") + '</span>' );
      }
    } else {
      // variant doesn't exist.
      $(btn).text('Unavailable').addClass('disabled').attr('disabled', 'disabled').fadeTo(200,0.5);
    }
     
     // BEGIN SWATCHES
     if (variant) {
       var form = jQuery('#' + selector.domIdPrefix).closest('form');
       for (var i=0,length=variant.options.length; i<length; i++) {
         var radioButton = form.find('.swatch[data-option-index="' + i + '"] :radio[value="' + variant.options[i] +'"]');
         if (radioButton.size()) {
           radioButton.get(0).checked = true;
         }
       }
     }
     // END SWATCHES
     
     /* start change image on select variant */
     {% assign coll = collections[section.settings.coll] %}
     {% for product in coll.products %}
     var p = '{{ pro.id }}';
     if(p == val){
       {% for variant in pro.variants %}
       var v = '{{ variant.id }}';
       {% if variant.image %}
       if(v == variant.id ){
         var img = '{{ variant.image | img_url:"master" }}';
         $('.coll_pro_img_'{{pro.id}}'').find('img').attr('src',img);
       }
       {% endif %}
       {% endfor %}
     }
     {% endfor %}
     /* end change image on select variant */
     
 }
          
</script>
<style>
  .row_center{
    justify-content: center;
    align-items: center;
  }
</style>

{% schema %}
  {
    "name": "Shop Our Best Seller",
	"max_blocks": 2,
    "settings": [
		{
			"type": "text",
			"id": "text",
			"label": "Title"
		},
		{
			"type": "collection",
			"id": "coll",
			"label": "Select Collection"
		}
	],
	"blocks": [
		{
			"name": "product",
			"type": "product",
 			"limit": 2,
			"settings": [
				{
					"type": "product",
                    "id": "product_id",
                    "label": "Select Product"
				}
			]
		}
	],
	"presets": [
		{
			"name": "Shop Our Best Seller",
			"category": "Shop Our Best Seller"
		}
	]
  }
{% endschema %}